button a {
	text-decoration: none;
	color: black;
}

button a:hover {
	cursor: inherit;
}

h2#error {
	color: red;
}

h2#success {
	color: green;
}

p {
	font-size: 100%;
}

#results p {
	margin: 0;
}

sub {
	font-size: 50%;
}

#results {
	border: 4px blue solid;
	border-radius: 4px;
	margin-top: 30px;
	padding: 20px;
}
